### Föreläsning 1

# Linjär regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

- Minns hur en matris ser ut från linalg. Y = Ax

- Sedan regressionsformeln $\hat{y} = \hat{b}_0 + \hat{b}_1\hat{x}_1$

- Ovanstående är endast för en variabel, x, (enkel regression). Men det går att använda fler variabler för multipel regression där vi lägger till fler $... + \hat{b}_2\hat{x}_2 + ...$

- $R^2$ = Determinationskoefficient

- Overfitting: En övertränad modell. Så modellen "drar raka linjer" mellan alla testpunkter. Så när ny data kommer till så vet vi fortfarande lika lite.

In [2]:
df = pd.read_csv('../data/Default.csv')

In [16]:
df['default'] = df['default'].map({'No': 0, 'Yes': 1})
df['student'] = df['student'].map({'No': 0, 'Yes': 1})

In [17]:
df.head()

   default  student      balance        income
0        0        0   729.526495  44361.625074
1        0        1   817.180407  12106.134700
2        0        0  1073.549164  31767.138947
3        0        0   529.250605  35704.493935
4        0        0   785.655883  38463.495879

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
default,10000.0,0.033300,0.179428,0.000000,0.000000,0.000000,0.000000,1.000000
student,10000.0,0.294400,0.455795,0.000000,0.000000,0.000000,1.000000,1.000000
balance,10000.0,835.374886,483.714985,0.000000,481.731105,823.636973,1166.308386,2654.322576
income,10000.0,33516.981876,13336.639563,771.967729,21340.462903,34552.644802,43807.729272,73554.233495

In [25]:
Y = df['income']

number_feats = df.shape[1] - 1

X = df['balance']

In [31]:
np.polyfit(X, Y, 1)

array([-4.19754488e+00,  3.70235054e+04])